<ion-header no-border>
  <ion-toolbar translucent="true">
    <ion-buttons slot="end">
      <ion-button (click)="exit()">
        <ion-icon slot="icon-only" name="exit" style="color:#B40A2E"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding text-center>
  <ion-row justify-content-center align-items-center style="height: 100%; flex-direction: column">
    <img src="../assets/img/qr-code.png"><br>
    <p style="color: #FFFFFF">Scan the QR code on the asset and see it's detail.</p>
  </ion-row>
  <ion-button class="btn-scan" color="marron" (click)="scanCode()">SCAN QR CODE</ion-button>
</ion-content>

<!-- <ion-footer>
    <ion-button>SCAN QR CODE</ion-button>
</ion-footer> -->