.profile-image{
    img{
        height: 200px;
        width: 200px;
        border-radius:50%;
        border: 4px solid rgba(255,255,255,0.4);
        -webkit-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 142px -37px rgba(0,0,0,0.75);
    }
}

ion-content{
    // --background: linear-gradient(120deg, #fd5c63, #c30b03) !important
    // --background: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%) !important
    --background: #e0455f;
--background: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
    // --background: linear-gradient(315deg, #d19592 0%, #c81f70 74%) !important
}

.btn-scan{
    position: fixed;
    left: 0;
    bottom: 10px;
    right: 0;
}
